/*************************Tag Selectors**************************************/
body {
  color: #272343;
  font-family: 'Merriweather', serif; /*Will use Merriweather font 99% of the time but if the font doesn't
  fully load b/c the website crashes or something the font will default to serif*/
  margin: 0;
  text-align: center;
}

h1 {
  color: white; /*Font color*/
font-family: 'Sacramento', cursive;
  font-size: 5.625rem; /*This % is the same as 90px but the % is dynamic and not fixed. 100% would be 16px
  so 90px/16px = 5.625 or 562.5%. Also 16px = 100% = 1em. The percents and ems are additive and the font-size set in a parent
  will affect a child elemenet. To avoid this use (rem). rem is the most adaptible and least error prone.*/
  margin: 0;
}

h2 {
color: #66BFBF; /*Font color*/
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem; /*Equivalent to 24px*/
  margin: 0 auto 50px auto;
}

h3 {
color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none; /*Removes automatic underline for hyperlinks*/
}

a:hover {
  color: #519259;
}

hr {
  border-style: dotted none none none;
  width: 5%;
  border-width: 5px;
  background-color: white;
  color: #272343;
  margin: 75px auto 75px auto;
}

p {
  margin-bottom: 50px;
  line-height: 2;
}
/*************************Class Selectors**************************************/
.web-dev {
  color: white;
  font-weight: normal;
}
.top-container {
  background-color: #272343;
  padding-top: 100px;
  position: relative; /*So the objects within this div can be set in positions relative to it, instead of setting them
  relative to the body*/
}

.middle-container {
  margin: 50px auto 150px auto;
}

.bottom-container {
  background-color: #BAE8E8;
  padding-top: 50px;
  padding-bottom: 20px;
}

.cloud1 {
  position: absolute;
  right: 400px;
  top: 50px;
}

.cloud2 {
  position: absolute;
  left: 300px;
  bottom: 250px;
}


.elevator-pitch {
  width: 40%;
  margin: auto;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto; /*margin: auto centers the element horizontally*/
  text-align: left;
}
.skills-img1 {
  width: 35%;
  float: left; /*Use float to wrap text around an element, not for other formatting or you'll run into trouble*/
  margin-right: 30px;
}

.skills-img2 {
  width: 35%;
  float: right;
  margin-left: 30px;
}

.final-p {
  width: 40%;
  margin: auto;
  line-height: 2;
}

.copyright {
  color: white;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn {
  position: relative;
  top: 75px;
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
